<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="formdiv">
      <div class="row" style="padding: 15% 35% 0% 35%;">
        <div class="col-md-12">
          <h2>Login</h2>
        </div>
        <div class="col-md-12" style="margin-top: 1%;">
          <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="Enter UserName">
          <span class="text-danger" *ngIf="(loginData['userName'].touched || submitted) && loginData['userName'].hasError('required')">
             UserName is required     
          </span>
          <span class="text-danger" *ngIf="loginData['userName'].touched && loginData['userName'].hasError('email')">
             Enter a valid email address
          </span>
        </div>
        <div class="col-md-12"  style="margin-top: 1%;">
          <input type="password" id="passWord" class="form-control" formControlName="passWord" placeholder="Enter Password">
            <span class="text-danger" *ngIf="(loginData['passWord'].touched || submitted) && loginData['passWord'].hasError('required')">
              Password is required
            </span>
            <span class="text-danger" *ngIf="(submitted && loginData['passWord'].hasError('required')) || loginData['passWord'].touched && loginData['passWord'].hasError('pattern')">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter, 1 special character and 1 number
            </span>
        </div>
        <div class="col-md-12"  style="margin-top: 1%;">
          <button type="submit" class="form-control">Login</button>
        </div>
      </div>
    </div>
  </form>